/*
* General
*/
html, main {  
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fafafa;
}

body {
    background: #fafafa;
    min-height: 100%; 
    line-height: 1.1;
    color: #333;
    font-family: 'Times New Roman', 'Aerial', 'Serif';
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img, embed, object, video {
    max-width: 100%;
}

header {
    position: relative;
    width: 100%;
}

header .metube_navbar {
    text-align: center;
}

header .metube_navbar h2 {
    color: red;
    padding: 0.5em;
}

main {
    /*top: 56px;*/
    width: 100%;
}

nav {
    display: block;
}

.reg {
    height: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    position: relative;
    margin: 0 auto;
}

.auth-page-wrapper, .create-account-page-wrapper {
    margin: 0 auto;
    position: relative;
    width: 350px;
}

.a-section {
    position: relative;
    width: 100%;
}

.a-box {
    display: block;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.a-box .a-box-inner {
    border-radius: 4px;
    padding: 14px 18px;
    position: relative;
}

.a-padding-extra-large {
    padding: 20px 26px;
}

.a-small-spacing {
    margin-bottom: 10px;
}

.a-large-spacing {
    margin-bottom: 14px;
}

.a-large-margin {
    margin-bottom: 30px;
}

.a-extra-large-spacing {
    margin-bottom: 20px;
}

.a-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

label {
    display: block;
    padding: 0 0 2px 2px;
    font-weight: 700;
}

.a-full-width {
    width: 100%;
    margin-right: 0;
}

input {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    transition: all 100ms linear;
}

.a-input-text, input[type=text], input[type=password], input[type=email], input[type=number] {
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    outline: 0;
}

.button {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-radius: 3px;
    display: inline-block;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0;
}

.button:hover {
    background: #e7e9ec;
}

.button-primary {
    background: #63A0E1;
    color: #000;
}

.button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    border-radius: 2px;
}

.button-primary:hover {
    background: #5D97D5;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}

.button-full-width {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

.button-input {
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .01;
    outline: 0;
    width: 100%;
    z-index: 15;
}

.button-text {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1.1em;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 10px;
    text-align: center;
}

.divider {
    text-align: center;
    position: relative;
    margin-bottom: 14px;
}

.divider h5 {
    background-color: #fff;
    color: #767676;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    z-index: 2;
}

.divider.horizontal-rule:after {
    background-color: transparent;
    border-top: 1px solid #e7e7e7;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.button a {
    text-decoration: none;
}

.button .button-text {
    color: #000;
}

.check-same-as {
    display: block;
}

.check-same-as p {
    display: inline-block;
}

#check {
    display: inline-block;
    margin-right: 10px;
}

footer {
    position: relative;
    margin-top: 0.6em;
    width: 100%;
}

footer .footer_inner {
    margin-top: 5px;
    text-align: center;
    font-size: 0.8em;
}

footer .footer_inner p {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .footer_inner p:last-child {
    margin-bottom: 5px;
}

.metube-header-wrapper {
    position: relative;
    height: 56px;
    width: 100%;
}

.metube-header {
    background-color: #fff;
    height: 56px;
    overflow: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.metube-header::after {
    bottom: -4px;
    content: " ";
    height: 5px;
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    pointer-events: none;
    opacity: 1;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    z-index: 3050
}

.metube-navbar {
    position: relative;
    width: 100%;
}

.header-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
}

.logo {
    width: 63px;
}

.header-nav .hamburger-wrapper {
    margin-right: 5px;
}

.hamburger {
    cursor: pointer;
    padding: 5px;
    width: 40px;
}

.hamburger > div:nth-child(n) {
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 24px;
}


.hamburger > div:nth-child(1), .hamburger > div:nth-child(2) {
    margin-bottom: 5px;
}


.logo h5 {
    font-size: 1.1em;
    font-weight: 600;
    color: red;
    margin-bottom: 0;
}

.search {
    display: flex;
    flex: 1;
    margin: 0 20px;
    flex-direction: row;
    justify-content: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 640px;
    width: 100%;
}

input[type=text] {
    outline: none;
}

.search-container {
    background-color: #fff;
    border: 1px solid #ccc;
    flex-grow: 1;
    padding: 2px 6px;
    border-radius: 4px;
    position: relative;
}

.search-input {
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 100%;
    background-color: transparent;
}

#search-input, #mobile-search-input, #block-user-search-input {
    border: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    width: 50px;
}

.search-icon {
    align-items: center;
    color: #cfd0d1;
    height: 25px;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    display: flex;
    width: 25px;
}

.search-icon .fa-search {
    font-size: 1.2em;
}

#close-search {
    /*width: 40px;*/
    height: 40px;
    padding: 8px;
}

.close-search-icon-container, .close-upload {
    color: #cfd0d1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

#mobile-search {
    background-color: #fff;
    display: none;
    padding: 0 8px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3010;
}

#mobile-search .search {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 90%;
}

#mobile-search .search-form {
    width: 100%;
    max-width: none;
}

#mobile-search .search-container {
    /*width: 85%; not needed since the button is 50px and this element will grow to fill the remaining width*/
    flex-grow: 1;
}

.mobile-search-icon-wrapper {
    display: none;
    align-items: center;
    justify-content: center;
}

.list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-end;
}

.list .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .chat .chat-icon-wrapper .chat-icon, .mobile-search-icon, .search-icon {
    color: #cfd0d1;
    cursor: pointer;
}

.list .chat, .list .display-settings, .list .mobile-search-icon-wrapper {
    width: 40px;
}

.list .metube-signin, .list .signedin {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .metube-signin {
    min-width: 80px;
}

.list .signedin {
    display: none;
}

.list .display-settings .settings-icon-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.list .display-settings .settings-icon-wrapper > div:nth-child(n) {
    display: block;
    height: 7px;
    background-color: #949596;
    border-radius: 50%;
    width: 7px;
}

.settings-icon-wrapper > div:nth-child(1), .settings-icon-wrapper > div:nth-child(2) {
    margin-bottom: 2px;
}

.list .metube-signin .nav-signin {
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(6, 95, 212);
}

#signin-btn {
    border: none;
    text-decoration: none;
    background-color: inherit;
    color: blue;
}

.list .metube-signin .nav-signin a {
    bottom: 0;
    color: blue;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-decoration: none;
    width: 100%;
}

.m-active-flex {
    display: flex;
}

.m-active {
    display: block;
}

.signedin-active {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.signedin-active span {
    color: #fff;
}

/* MAIN CONTENT*/
main {
    background-color: #fafafa;
    display: block;
    position: relative;
}

.drawer-container {
    background-color: #f5f5f5;
    bottom: 0;
    top: 55px;
    right: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    /*height: 100%;*/
    width: 240px;
    z-index: 30;
}

.drawer-hidden {
    -webkit-transform: translate(-240px, 0);
    transform: translate(-240px, 0);
}

.drawer {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100%;
}

.drawer:hover {
    /**overflow-y: auto;**/
}

.drawer::-webkit-scrollbar {
    width: 8px;
}

.drawer::-webkit-scrollbar-thumb {
    height: 56px;
    background: hsla(0, 0%, 53.3%, .4);
}

.drawer-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    width: 100%;
}

.options .item {
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
}

.options .item:hover {
    color: #000;
    background-color: #ccc;
}

.item a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #000;
}

.item a > span {
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

.item a > span.active {
    font-weight: 500;
}

.item.active {
    background-color: #ccc;
}

.item-title h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    padding: 8px 24px;
}

#drawer-footer .footer-content {
    padding: 24px;
}

.footer-content p:nth-child(odd) {
    margin-bottom: 20px;
}

.content-container {
    background-color: #fafafa;
    display: flex;
    position: relative;
    /*overflow-x: auto;*/ /*took this out when working on video page*/
    width: auto;
}

.content-container .content {
    /**
    align-items: center;
    display: flex;
    flex-direction: column;
    **/
    position: relative;
    width: 100%;
}

#most-viewed {
    margin-top: 25px;
}

.multimedia-content-container {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
}

.multimedia-content {
    margin: 0 auto;
    width: 87%;
}

.media-item-container {
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

.media-item {
   display: flex;
   flex-direction: column;
   position: relative;
}

.media-wrapper {
    height: 138px;
    position: relative;
    margin-right: 16px;
    width: 240px;
}

#thumbnail {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text-wrapper {
    max-width: 500px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.media-rank {
    width: 100%;
}

.media-title-wrapper {
    display: block;
}

.media-title {
    padding-top: 5px;
}

.metadata {
    display: block;
    float: left;
}


.media-description {
    overflow: hidden;
    text-transform: none;
    line-height: 1.8rem;
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.signedin-wrapper, .message-wrapper {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fafafa;
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 300px;
    z-index: 5000;
}

#upload-wrapper {
    margin: 0 auto;
    width: 85%;
}

.upload-wrapper {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 0;
    width: 500px;
}

#upload-btn {
    background-color: #003cbb;
    border-color: #003cbb;
    color: #fff;
}

#upload-btn:hover {
    background-color: rgba( 0, 0, 0, 0 );
    border-color: #3498db;
    color: #003cbb;
}

.close-upload-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.show {
    display: block !important;
    visibility: visible;
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.signedin-wrapper {
    display: block;   
    visibility: hidden;
    position: fixed;
    top: 9px;
    left: auto;
}

.signedin-wrapper.show {
    display: block;
    visibility: visible;
}

#account-name {
    font-weight: 600;
}

.echo-initial {
    font-size: 1.4em;
}

.rounded-signin, .signedin-active {
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    height: 40px;
    justify-content: center;
    text-align: center;
    width: 40px;
}

.account-list, .account-item-wrapper, .account-list a {
    display: block;
}

.account-item-wrapper {
    padding: 0 16px;
}

.account-list .account-item {
    color: #000;
    display: flex;
    align-items: center;
    min-height: 40px;
    font-size: 1.1em;
}

.account-item-wrapper:hover {
    background-color: #ccc;
}

.message-wrapper {
    position: fixed;
    /*height: 450px;*/
    width: 450px;
}

.back-button .friends {
    flex-grow: 1;
}

.back-button, .back-button-icon-wrapper, .back-button-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.back-button-icon {
    font-size: 1.1em;
    height: 24px;
    width: 24px;
}

.back-button {
    display: none;
}

.friends {
    font-size: 1.2em;
    cursor: pointer;
}

.no-friends, .signin-to-chat, .justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.signin-to-chat {
    font-size: 1.1em;
}

.friendship-link .link {
    text-align: center;
}

button#friends-btn {
    background-color: inherit;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    color: blue;
    text-align: center;
}

.friends-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

#message-title p {
    font-size: 1.2em;
}

.friend-container, .friend-image-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.friend-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.friend-image-container .friend-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e7e7e7;
}

.friend-container .friend-name, .latest-message-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.latest-message-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.message-inbox, .conversation {
    display: none;
    width: 100%;
}

.message-inbox, .friend-list {
    overflow: auto;
}

.all-messages {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conversation {
    overflow: scroll;
}

.message-card {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.message .sender-name, .message .sender-message {
    display: flex;
    justify-content: flex-start;
}

.message .receiver-name, .message .receiver-message {
    display: flex;
    justify-content: flex-end;
}

.send-message-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#send-message-form {
    position: relative;
    display: flex;
    width: 100%;
}

#text {
    border-radius: 0;
    flex-grow: 1;
}

#send-message {
    background-color: #e7e7e7;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    height: 31px;
    width: 40px;
}

.friend-list, .signin-when-not, .link-up{
    /**display: none;**/
    display: block;
}

.have-nots {
    display: block;
}

.conversation, .message-inbox, .friend-list {
    overflow: scroll;
    padding: 0;
    max-height: 150px;
}

.your-chats {
    padding: 10px;
}

.account-setting {
    padding-left: 10px;
    padding-top: 40px;
}

.settings-container {
    margin: 15px 0 0;
}

.settings {
    color: #333;
    display: block;
    font-size: 1em;
    position: relative;
    min-width: 300px;
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
}

.setting-title {
    margin-bottom: 20px;
}

.channel {
    background: #fff;
}

.channel-section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    position: relative;
    width: 100%;
}

.channel-section-title {
    margin-top: 15px;
}

.channel-section-title h4 {
    font-size: 1.2rem;
}

.channel-section-details {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.channel-section-details .channel-section-subtitle {
    margin-bottom: 8px;
    width: 24%;
}

.channel-section-details .your-channel {
    display: flex;
    flex: 1;
}

.channel-section-info {
    display: block;
}

.channel-block-name {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    height: 60px;
    width: 60px;
}

.channel-block-name p {
    color: white;
}

.channel-block-name a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.account-setting-channel-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.account-setting-channel-info a {
    color: blue;
}

.update-settings {
    padding-left: 15px;
}

.update-settings .setting-title {
    margin-top: 15px;
}

.change li {
    padding-bottom: 12px;
}

.change li a {
    color: blue;
}

.change li:last-child {
    padding-bottom: 0;
}

ul.change li>a:hover {
    text-decoration: underline;
}

footer.settings-footer-wrapper {
   margin-top: 80px;
}

.footer-divider {
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}

.settings-footer {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
}

.settings-footer .copywrite, .settings-footer .authors {
    margin-bottom: 15px;
}

.settings-create-new-channel {
    margin-top: 20px;
    margin-bottom: 15px;
}

.settings-create-new-channel a {
    color: blue;
    padding: 10px;
    padding-left: 0;
}

.settings-create-new-channel a:hover {
    text-decoration: underline;
}

.settings-changes-form {
    color: grey;
    max-width: 750px;
}

.settings-changes-form h1 {
    font-size: 1.5em;
    color: #333;
    margin: 0 0 .4em;
    font-weight: 400;
}

#updateEmail input[type=email], #updateEmail input[type=password], #updateDisplayName input[type=text], #updateDisplayName input[type=password], #changePassword input[type=password], #changePassword input[type=number] {
    height: 44px;
}

#updateNumber input[type=number], #updateNumber input[type=password] {
    height: 35px;
}

#updateNumber .form-heading {
    margin-top: 15px;
    margin-bottom: 30px;
}

#changePassword h1 {
    margin-bottom: 25px;
}

.form-heading {
    margin-top: 30px;
}

.form-label {
    margin-bottom: 6px;
}

.form-readonly-value {
    padding: 10px 0;
    margin-bottom: 20px;
    color: #333;
}

.channel-header-content-container {
    display: block;
    position: relative;
    width: 100%;
}

#channel-header-content {
    position: relative;
    padding: 15px 100px 0;
    height: 96px;
    width: 100%;
}

#channel-header {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 1200px;
}

#channel-avatar {
    width: 80px;
    height: 80px;
    margin: 0 24px 0 0;
    flex: none;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

#inner-channel-container, #channel-title-container {
    max-height: 9rem;
    flex: 1;
    overflow: hidden;
}

#channel-title {
    display: inline;
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
}

#subscriber-count {
    color: grey;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 0.5em;
}

#number_of_subscribers {
    margin-left: 2px;
}

.pop-up-container {
    position: fixed;
    display: none;
    top: 60px;
    margin: 20px 25px;
    z-index: 3000;
}

.confirm-dialog {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin-top: 15px;
}

.confirm-unsubscribe {
    display: flex;
    flex-direction: column;
}

#confirmation-text {
    max-height: 100px;
    padding: 0 24px;
}

.confirm-dialog-buttons {
    display: flex;
    padding: 5px;
    border-top: 1px solid grey;
    justify-content: flex-end;
}

#channel-navs-container {
    height: 50px;
    width: 100%;
}

#channel-navs {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 51px;
    overflow: hidden;
    height: 50px;
}

.nav-scroll-icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin: 0 4px;
    height: 50px;
    width: 50px;
}

.nav-scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

#channel-navs-items-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
}

#channel-navs-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
}

.channel-navs-item {
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    padding: 0 24px;
}

.channel-navs-item span {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.channel-navs-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.expandable {
    height: 21px;
    width: 300px;
}

.channel-uploads, .channel-created-playlist {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 20px;
}

/* Boostrap4 overrides*/

.message-wrapper .card-body {
    padding: 0;
}

.add-pad {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.signedin-wrapper .card-header .row .col-xm-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 0;
}

.signedin-wrapper .card-header .row .col-xm-9 {
    padding-left: 0;
}

.signedin-wrapper .card-header .no-wrap, .message-wrapper .card-header .no-wrap {
    flex-wrap: nowrap;
}

.signedin-wrapper .card-body {
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
}

.upload-wrapper .container::-webkit-scrollbar {
    width: 8px;
}

.upload-wrapper .container::-webkit-scrollbar-thumb {
    height: 56px;
    background: hsla(0, 0%, 53.3%, .4);
}

.settings-changes-form .col-md-7 {
    padding: 0;
}

.videos, .audios, .images, .animes, .playlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.videos .media-item-container, .audios .media-item-container, .images .media-item-container, .animes .media-item-container, .playlist .media-item-container {
    display: flex;
    flex-direction: row;
}

.videos .media-item, .audios .media-item, .images .media-item, .animes .media-item, .playlist .media-item {
    flex-direction: column;
    margin-right: 5px;
    width: 200px;
}

.videos .media-wrapper, .audios .media-wrapper, .images .media-wrapper, .animes .media-wrapper, .playlist .media-wrapper {
    margin-right: 0;
    width: 200px;
}

.videos .media-title, .audios .media-title, .images .media-title, .animes .media-title, .playlist .media-title {
    font-size: 1.4em;
    color: #333;
    margin: 8px 0px;
    padding-top: 0;
}

.overlay-playlist-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsla(0, 100%, 40%, 0.4);
    color: hsla(0, 0%, 100%, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}

.overlay-playlist-count:hover {
    background-color: hsla(0, 100%, 40%, 0.6);
    color: hsla(0, 0%, 100%, 0.8);
}

.discussions {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.discussions-count {
    display: block;
    width: 100%;
    margin: 20px 0 25px;
}

.discussions-count p, #number-of-comments {
    display: inline-block;
}

.comment-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.commenter-avatar-wrapper, .author-avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5px;
    width: 50px;
}

#cancel-comment {
    margin-right: 5px;
}

.commenter-avatar, .author-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
}

.comment-inner-wrapper, .author-comment-details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

input[type=text].reply-public-comment {
    width: 100%;
    border: 0;
    padding: 0;
}

input[type=text].public-comment {
    width: 100%;
    border: 0;
    padding: 0;
}

.add-comment-wrapper {
    border-bottom: 1px solid hsl(0, 0%, 93%);
}

.add-comment-wrapper.active {
    border-bottom: 2px solid grey;
}

.comment-btns-wrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
}

.all-comments-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.discussions .all-comments-wrapper {
    margin-top: 25px;
}

.comment-thread {
    display: block;
    margin-bottom: 15px;
}

.comment {
    margin-bottom: 10px;
}

.comment-body {
    display: flex;
    flex-direction: row;
}

.author-comment-review-wrapper {
    display: flex;
    flex-direction: column;
}

.author-name-wrapper {
    margin-bottom: 9px;
}

.comment-review, .star, .five-star-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-review {
    justify-content: flex-start;
}

.star {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.five-star-wrapper {
    justify-content: space-around;
    margin-right: 6px;
    width: 110px;
}

.star-checked {
    color: orange;
}

.reply-box {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.reply-box .comment-btns-wrapper {
    display: flex;
}

.reply-box .commenter-avatar-wrapper {
    width: 40px;
}

.reply-box .commenter-avatar {
    height: 30px;
    width: 30px;
}

.replies-container {
    margin-left: 30px;
}

.replies .author-avatar-wrapper {
    width: 40px;
}

.replies .author-avatar {
    height: 30px;
    width: 30px;
}

.loaded-replies {
    display: flex;
    flex-direction: column;
}

.channel-no-content {
    text-align: center;
}

.current-media-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.active-media-section, .media-recommendation-section, .active-media-content-wrapper, .active-media-meta-info, .active-media-channel, .active-media-channel-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active-media-section {
    order: 1;
}

.active-media-description-wrapper {
    display: flex;
    border-bottom: 1px solid grey;
}

.active-media-channel {
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    flex: 1;
}

.active-media-channel-avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50px;
}

.active-media-channel-avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.active-media-channel-info {
    flex: 1;
}

.active-media-channel-title {
    margin-bottom: 15px;
}


.active-media-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: row;
}

.active-media-view-count {
    flex: 1;
}

.viewer-review {
    display: flex;
    align-items: center;
    width: 120px;
}

.active-media-section, .active-media-content-wrapper, .active-media {
    min-height: 360px;
}

.active-media-content {
    display: block;
    height: 100%;
    width: 100%;
}

.active-media {
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.main-video {
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
}

.active-media-meta-info {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
}

.active-media-title {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.media-recommendation-section {
    order: 3;
}

.secondary-media-recommendation-section {
    display: none;
    flex-direction: column;
}

.inputerror {
    color: #FF0000;
}

#createAccountSubmit {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}

.display-contacts-wrapper {
    background-color: #fff;
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;
    min-height: 100px;
}

.user-contacts-wrapper, .blocked-users-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.user-contacts, .blocked-users {
    margin-top: 50px;
    width: 80%;
}

.user-contacts-header, .blocked-users-header {
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.add-new-contact {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
    position: absolute;
    bottom: 0;
    right: 30px;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1050;
}

.blocked-user {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-contacts-item, .blocked-user-item {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: blue;
    font-size: 1.1em;
}

.blocked-list-wrapper, .contact-list-wrapper, .friends-list-wrapper {
    display: none;
    position: relative;
    padding: 0 10px;
}

.contact-list-wrapper {
    display: block;
}

.display-contacts-wrapper .friends-list-wrapper .friend-container, .display-contacts-wrapper .contact-list-wrapper .friend-container {
    padding-bottom: 5px;
    padding-top: 5px;
}

.friends-list-wrapper, .blocked-list-wrapper {
    display: none;
}

.people-search-container {
    width: 100%;
    padding: 0 15px;
}

.people-search {
    margin-top: 40px;
}

.people-result, .person {
    overflow: auto;
    margin-bottom: 15px;
    width: 100%;
}

.person-card-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}


.person-card-result .friend-container {
    flex: 1;
    justify-content: flex-start;
}

.person {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-top: 15px;*/
}

.someone {
    margin-bottom: 10px;
}

.error {
    color: red;
    /*display: inline-block;*/
    display: none;
}

.signin-to-upload-wrapper {
    position: relative;
    display: none;
    border-radius: 5px;
    max-width: 300px;
    z-index: 4000;
}

.sigin-to-upload {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-sigin-to-upload {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#block-a-user-container, .create-playlist-wrapper, .create-favorite-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

#block-a-user {
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    min-height: 250px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

#block-a-user .search-form {
    margin-top: 20px;
    padding: 0 10px;
}

.people-search-btns-wrapper {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.people-search-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

#cancel-block-user {
    margin-right: 20px;
}

#block-a-user .person-card-result {
    margin-left: 15px;
}

.align-access-view {
    display: flex;
    align-items: center;
}

.align-access-view label {
    margin: 0;
}

.block-a-user-header {
    height: 40px;
    background: #f5f5f5;
    color: blue;
    display: flex;
    align-items: center;
}

.block-a-user-header span {
    margin-left: 13px;
}

.show-block {
    display: flex !important;
}

.has-no-media-access-container, .friends-update-container {
    display: block;
    width: 100%;
}

.has-no-media-access, .friends-update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocked-user .media-name {
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.create-playlist, .create-favorite {
    padding: 10px;
    background: #fff;
    width: 250px;
    position: relative;
    border-radius: 5px;
}

.create-playlist p, .create-favorite p {
    margin-bottom: 13px;
}

.create-list {
    margin: 10px 0 10px;
}

#add_to_playlist, .create-playlist span, .create-favorite span {
    padding: 10;
}

.playlist_check, .favorite_check {
   margin-right: 10px;
}

.active-media-channel-avatar a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.remove-and-add {
    display: flex;
}

.go-to-favorites, .go-to-playlist {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.current-media-comments {
    order: 2;
    margin-top: 50px;
}

.offline-message p {
    padding: 10px;
}

.playlist-favorite {
    color: blue;
    margin-bottom: 20px;
}

.playlist-bkg {
    background: #fff;
}

#upload-success-alert, .message {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#close-message, #close-upload-succ-alert {
    margin-left: 15px;
}

#download, #active-media-subscribe-btn {
    margin-bottom: 10px;
}

.subscribe-to-active-media-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1293px) {
    .content-container .content-list {
        width: 850px;
        padding-left: 0;
    }
}

@media only screen and (min-width: 680px) {
    .mobile-search-icon-wrapper {
        display: none;
    }
    .media-item {
        flex-direction: row;
    }
}

@media only screen and (max-width: 679px) {
    .header-nav {
        padding: 0 8px;
    }
    .media-item {
        margin-right: 0;
    }
    .media-title {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .channel-section .channel-control-info {
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .search {
        display: none;
    }
    .mobile-search-icon-wrapper {
        display: flex;
    }
    .list {
        flex: 1;
    }
}

@media only screen and (min-width: 800px) {
    .settings {
        width: 95%;
        max-width: 1024px;
    }
}

@media only screen and (max-width: 800px) {
    #channel-header-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 500px) {
    .settings-container {
        margin: 20px 30px 0;
    }
}

@media only screen and (min-width: 350px) {
    .channel-section-details {
        flex-direction: row;
    }
    .channel-section-details .channel-section-subtitle {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 605px) {
    #channel-title {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 540px) {
    #channel-title {
        font-size: 0.4em;
    }
    #upload-wrapper {
        width: 90%;
    }
    .upload-wrapper {
        width: 400px;
    }
    .media-theater {
        margin: 0;
        width: 100%;
    }
    .current-media-wrapper {
        padding: 0;
    }
}

@media only screen and (max-width: 470px) {
    #inner-channel-container {
        display: none;
    }
    #subscribe-button {
        flex: 1;
    }
    #subscribe-unsubscribe-container {
        float: right;
    }
}

@media only screen and (min-width: 800px) {
    .active-media {
        margin: 0;
        max-width: 640px;
    }
    .user-contacts-wrapper, .people-search-container, .blocked-users-wrapper {
        width: 800px;
        margin: 0 auto;
        padding: 0;
    }
    .user-contacts, .blocked-users {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1020px) {
    .media-recommendation-section {
        order: 2;
        display: none;
    }
    .secondary-media-recommendation-section {
        display: flex;
        flex: 1;
        margin-left: 30px;
    }
    .secondary-media-recommendation-section .media-title {
        font-size: 1.3em;
    }
    .media-theater {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
    }
    .current-media-wrapper {
        max-width: 640px;
    }
}

.cloud {
  margin-right:auto;
  margin-left:auto;
  width: 800px;
}

.dropbtn {
  background-color: #fafafa;
  color: black;
  padding: 7px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #fafafa;
  outline: none;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.filterbar {
  overflow: hidden;
}

.filterbar div {
  float: left;
  font-size: 16px;
  /*color: white;*/
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #fafafa;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #fafafa;
  z-index: 1;
}

.dropdown-content a, .dropdown-content p{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  outline: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button, .dropdown-content button:focus{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  outline: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  color: #000;
  background-color: #ccc;
  outline: none;
}

.dropdown-content .selected-button, .dropdown-content .selected-button:focus{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ccc;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content .selected-button:hover {
  color: #000;
  background-color: #fafafa;
  outline: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.open-button-add-person {
  background-color: #555;
  color: white;
  padding: 16px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 200px;
  float: right;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .open-button-add-person:hover{
  opacity: 1;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.author-comment-wrapper span{
  margin-left: 20px;
}
.dropdown a:hover {background-color: #ddd;}
